<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel" id="device_panel">
        </div>
    </div>
</div>




<script type='text/template' id='device_panel_tpl'>
    <div class="x_title">
        <h2>Устройства</h2>&nbsp;
        {{!-- <button type="button" class="btn btn-success add_device">Добавить</button> --}}
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li>
            <li>
                <a style="padding: 3px 8px;" class="btn btn-success add_device"><i class="fa fa-plus"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>


    <div class="x_content">

        <div class="col-lg-2">
            <div class="nav nav-tabs flex-column bar_tabs" id="tabs_devices" role="tablist" aria-orientation="vertical">
                <% _.each(tabs, function(tab){ %>
                    <a data-ident="<%= tab.ident %>" 
                        style="cursor:pointer;"
                        class="nav-link tab_device <%= tab.is_active ? 'active btn-primary' : '' %>"><%= tab.name %></a>
                <% }) %>
            </div>
        </div>

    <div class="col-lg-10">
        <!-- Tab panes -->
        
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Название </th>
                                <th class="column-title">Библиотека</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(!devices.length){ %>
                                <tr>
                                    <td colspan="100">
                                        Нет устройств данного типа
                                    </td>
                                </tr>
                            <% } %>
                            <% _.each(devices, function(device,i){ %>
                                <%= device_row_tpl({device,i}) %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">... content</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...content</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...content</div>
        </div>
    </div>

    <div class="clearfix"></div>

    </div>

</script>


<script type='text/template' id='device_row_tpl'>
    <tr class="<%= i % 2 ? 'odd' : 'even' %>_pointer">
        <td class=""><%= device.name %></td>
        <td class=""><%= device.mod %></td>
    </tr>
</script>


{{!--

Первый шаг выбор типа прибора
его модели марки и так дажее

Второй название и прочая фигня

Третий настройки подключения

--}}
<script type='text/template' id='device_modal_tpl'>
   <div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" style="display: block; padding-right: 17px;" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Добавление устройства</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="wizard_verticle" class="form_wizard wizard_verticle">
                    <ul class="list-unstyled wizard_steps anchor" id="navigation_edit_add_device"></ul>
                    <div class="stepContainer" id="stepContainer">
                    </div>
                    <div class="actionBar">
                        <div class="msgBox">
                            <div class="content"></div>
                                <a href="#" class="close">X</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="buttons"> </div>

            </div>
        </div>
    </div>
</script>

<script type='text/template' id='navigation_edit_add_device_tpl'>
    <% _.each(_.compact(_.range(settings.get('all_steps'))), function(step){ 
        
        let _class = "disabled"
        if( step == settings.get('current_step') ){
            _class = "selected"
        } else if( step < settings.get('current_step') ){
            _class = "done"
        }

        %>
        <li>
            <a class="<%= _class %>">
            <span class="step_no"><%= step %></span>
            </a>
        </li>
    <% }) %>
</script>

{{!-- Кнопки у модального окна --}}
<script type='text/template' id='buttons_tpl'>
    {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button> --}}
    <% if(settings.get('current_step') != settings.get('all_steps') - 1){ %>
        <a href="#" class="buttonNext btn btn-success <%= !is_valid_step_1 ? 'disabled' : '' %>">Продолжить</a>
    <% } %>
    <% if(settings.get('current_step') > 1){ %>
        <a href="#" class="buttonPrevious buttonDisabled btn btn-primary">Назад</a>
    <% } %>
    <% if(settings.get('current_step') == settings.get('all_steps') - 1){ %>
        <button type="button" class="buttonSave btn btn-primary">Сохранить</button>
    <% } %>
</script>


{{!-- Первый этап создания редактирования устройства --}}
<script type='text/template' id='modal_device_step_1'>

    <br>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Производитель</label>
        <div class="col-md-9 col-sm-9 " id="block_manufactured"> </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Марка</label>
        <div class="col-md-9 col-sm-9 " id="block_mark"> </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Модель</label>
        <div class="col-md-9 col-sm-9 " id="block_model"> </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Серия</label>
        <div class="col-md-9 col-sm-9 " id="block_series"> </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Версия прошивки</label>
        <div class="col-md-9 col-sm-9 " id="block_soft_version"> </div>
    </div>

    <br>
    <div  id="block_info_types"></div>
</script>

{{!-- К какаим типам приборов он относится --}}
<script type='text/template' id='info_types_tpl'>
<% if(types.length){ %>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Тип</label>
        <div class="col-md-9 col-sm-9 ">
            <% _.each(types , function(el){ %>
                <span class="tag"><span><%= el %></span></span>
            <% }) %>
            <% if(types.length > 2){ %>
                <a class="collapse-link"><i class="fa fa-chevron-down"></i> Еще...</a>
            <% } %>
        </div>
    </div>
<% } %>
<% if(parameters.length){ %>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Параметры</label>
        <div class="col-md-9 col-sm-9 ">
            <% _.each(parameters , function(el){ %>
                <span class="tag"><span><%= el %></span></span>
            <% }) %>
            <% if(parameters.length > 2){ %>
                <a class="collapse-link"><i class="fa fa-chevron-down"></i> Еще...</a>
            <% } %>
        </div>
    </div>
<% } %>
<% if(commands.length){ %>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Команды</label>
        <div class="col-md-9 col-sm-9 ">
            <% _.each(commands , function(el){ %>
                <span class="tag"><span><%= el %></span></span>
            <% }) %>
            <% if(commands.length > 2){ %>
                <a class="collapse-link"><i class="fa fa-chevron-down"></i> Еще...</a>
            <% } %>
        </div>
    </div>
<% } %>
</script>

{{!-- Второй этап --}}
<script type='text/template' id='modal_device_step_2'>

    <br>
    <div class="form-group row"  id="block_name_device"></div>
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Родительское устройство</label>
        <div class="col-md-9 col-sm-9 " id="block_parent_device"> </div>
    </div>
</script>

{{!-- Теритий этап --}}
<script type='text/template' id='modal_device_step_3'>
    <br>
    <div class="form-group row"  id="block_connection_settings"></div>
</script>

{{!-- Четвертый этап. Выбор таймингов --}}
<script type='text/template' id='modal_device_step_4'>
    <br>
    <div id="block_times"></div>
    
</script>

{{!-- Четвертый этап. Выбор таймингов --}}
<script type='text/template' id='times_tpl'>
    <div class="form-group row" >
        <label class="control-label col-md-3 col-sm-3 " for="first-name">Пауза до начала опроса
        </label>
        <div class="col-md-6 col-sm-6">
            <input type="number" id="before_connect" class="form-control"
            value="<%= times.await_answer %>"
            >
        </div>
    </div>
    <div class="form-group row" >
        <label class="control-label col-md-3 col-sm-3 " for="first-name">Пауза до начала отправки пакет
        </label>
        <div class="col-md-6 col-sm-6">
            <input type="number" id="before_send" class="form-control"
            value="<%= times.before_send %>"
            >
        </div>
    </div>
    <div class="form-group row" >
        <label class="control-label col-md-3 col-sm-3 " for="first-name">Время ожидания пакета
        </label>
        <div class="col-md-6 col-sm-6">
            <input type="number" id="await_answer" class="form-control"
            value="<%= times.await_answer %>"
            >
        </div>
    </div>
</script>


{{!-- Типы устройств --}}
<script type='text/template' id='types_tpl'>
    <select class="form-control" id="type_device">
        <option value="0">--Выбрать--</option>
        <% _.each(types_devices, function(type){ %>
            <option value="<%= type.ident %>"
                <%= settings.get('type') == type.ident ? 'selected' : '' %>
                ><%= type.name %></option>
        <% }) %>
    </select>
</script>

{{!-- Название прибора --}}
<script type='text/template' id='name_device_tpl'>
        <label class="control-label col-md-3 col-sm-3 " for="first-name">Название <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
            <input type="text" id="name_device" required="required" value="<%= settings.get('current_device').get('name') %>" class="form-control">
        </div>
</script>

<script type='text/template' id='parent_device_tpl'>
    <select class="form-control" id="parent_device">
        <option value="0">--Выбрать--</option>
        <% _.each(devices, function(device){ %>
            <option value="<%= device.id %>"><%= device.name %></option>
        <% }) %>
    </select>
</script>


<script type='text/template' id='manufactured_tpl'>
    <select class="form-control" <%= !active || !manufactures.length   ? 'disabled="disabled"' : '' %> id="manufactured">
        <option>--Выбрать--</option>
        <% _.each(manufactures , function(man){ %>
            <option value="<%= man %>"
                <%= settings.get('manufactures') == man ? 'selected' : '' %>
                ><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='mark_tpl'>
    <select class="form-control" <%= !active || !marks.length  ? 'disabled="disabled"' : '' %> id="mark">
        <option>--Выбрать--</option>
        <% _.each(marks , function(man){ %>
            <option value="<%= man %>"
                <%= settings.get('mark') == man ? 'selected' : '' %>
                ><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='model_tpl'>
    <select class="form-control" <%= !active || !models.length ? 'disabled="disabled"' : '' %> id="model">
        <option>--Выбрать--</option>
        <% _.each(models , function(man){ %>
            <option value="<%= man %>"
                <%= settings.get('model') == man ? 'selected' : '' %>
                ><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='series_tpl'>
    <select class="form-control" <%= !active || !series.length  ? 'disabled="disabled"' : '' %> id="series">
        <option>--Выбрать--</option>
        <% _.each(series , function(man){ %>
            <option value="<%= man %>"
                <%= settings.get('series') == man ? 'selected' : '' %>
                ><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='soft_version_tpl'>
    <select class="form-control" <%= !active || !soft_version.length ? 'disabled="disabled"' : '' %> id="soft_version">
        <option>--Выбрать--</option>
        <% _.each(soft_version , function(man){ %>
            <option value="<%= man %>"
                <%= settings.get('soft_version') == man ? 'selected' : '' %>
                ><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='connection_settings_tpl'>
    <% _.each( settings.current_mod.get('device_parameters'), function(parameter){ 
            switch(parameter.format){
                case  'string':
                    %><%= t_string({parameter}) %><%
                break;
                case  'number':
                    %><%= t_number({parameter}) %><%
                break;
                case  'boolean':
                    %><%= t_boolean({parameter}) %><%
                break;
                 case  'object':
                    if(Array.isArray(parameter)){
                        %><%= t_array({parameter,t_string,t_number,t_boolean,t_array,t_object}) %><%
                    }else{
                        %><%= t_object({parameter,t_string,t_number,t_boolean,t_array,t_object}) %><%
                    }
                break;
            }
    }) %>
</script>

<script type='text/template' id='connection_settings_number_tpl'>
    <label class="control-label col-md-3 col-sm-3 " for="first-name"><%= parameter.name %> </label>
    <div class="col-md-6 col-sm-6">
        <input type="number" 
        id="<%= parameter.ident %>" 
        required="required" 
        placeholder="<%= parameter.placeholder %>" 
        data-min_len="<%= parameter.min_len %>" 
        data-max_len="<%= parameter.max_len %>" 
        data-regular="<%= parameter.regular %>" 
        value="<%= parameter.default_value %>" class="form-control">
    </div>
</script>

<script type='text/template' id='connection_settings_string_tpl'>
    <label class="control-label col-md-3 col-sm-3 " for="first-name"><%= parameter.name %> </label>
    <div class="col-md-6 col-sm-6">
        <input type="text" id="<%= parameter.ident %>" 
        required="required" 
        placeholder="<%= parameter.placeholder %>" 
        data-min_len="<%= parameter.min_len %>" 
        data-max_len="<%= parameter.max_len %>" 
        data-regular="<%= parameter.regular %>" 
        value="<%= parameter.default_value %>" class="form-control">
    </div>
</script>

<script type='text/template' id='connection_settings_array_tpl'>
    <label class="control-label col-md-3 col-sm-3 " for="first-name">?????? </label>
    <select class="form-control">
        {{!-- <option>--Выбрать--</option> --}}
        <% _.each(parameter , function(man){ %>
            <option value="<%= man %>"><%= man %></option>
        <% }) %>
    </select>
</script>

<script type='text/template' id='connection_settings_object_tpl'>
    <% 
        Object.keys(parameter).forEach(ident => {
            let val =  parameter[ident]
            switch(typeof val){
                case  'string':
                    %><%= t_string({ident,val}) %><%
                break;
                case  'number':
                    %><%= t_number({ident,val}) %><%
                break;
                case  'boolean':
                    %><%= t_boolean({ident,val}) %><%
                break;
                case  'object':
                    if(Array.isArray(val)){
                        %><%= t_array({parameter:val,t_string,t_number,t_boolean,t_array,t_object}) %><%
                    }else{
                        %><%= t_object({parameter:val,t_string,t_number,t_boolean,t_array,t_object}) %><%
                    }
                break;
            }
        })
     %>
</script>

<script type='text/template' id='connection_settings_boolean_tpl'>
    <label>
        <input type="checkbox" class="js-switch" 
        checked="" style="display: none;" data-switchery="true">
        <span class="switchery switchery-default" 
        style="background-color: rgb(38, 185, 154); border-color: rgb(38, 185, 154); box-shadow: rgb(38, 185, 154) 0px 0px 0px 11px inset; 
        transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;">
        <small style="left: 12px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small>
        </span> Checked
    </label>
</script>


<style>
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
        background: #2A3F549C;
    }
</style>

<script src="/js/models/device.js"></script>
<script src="/js/collections/device.js"></script>

<script src="/js/models/mod.js"></script>
<script src="/js/collections/mod.js"></script>
<script src="/js/page/device.js"></script>