<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form action="/admin/login" method="post">
                    <h1>Вход в систему</h1>
                    <div>
                        <input type="text" name="login" class="form-control" placeholder="Логин" required="" />
                    </div>
                    <div>
                        <input type="password" name="password" class="form-control" placeholder="Пароль" required="" />
                    </div>
                    <div>
                        <button class="btn btn-success submit" href="index.html">Войти</button>
                        <a class="reset_pass" href="#">Забыли пароль?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 4 template. Privacy and Terms
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>