<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Объекты</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">



                <div class="btn-toolbar pagination" role="toolbar"></div>

                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Объект</th>
                            <th>Кол-во объектов</th>
                            <th>Кол-во устройств</th>
                        </tr>
                    </thead>
                    <tbody id="places"></tbody>
                </table>

                <br>

                <div class="btn-toolbar pagination" role="toolbar"></div>
            </div>
        </div>
    </div>
</div>

{{>pagination}}
{{>example_modal_place}}


<script type='text/template' id='places_tpl'>
    <% _.each(collection , function(place){ %>
        <%= place_tpl({place}) %>
    <% }) %>
</script>
<script type='text/template' id='place_tpl'>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;<i class="fa <%= place.icon ? place.icon : 'fa-building-o' %>"></i> <%= place.name %></td>
        <td><i class="fa fa-share-alt"></i> 80</td>
        <td><i class="fa fa-puzzle-piece"></i> 20</td>
        <td>
            <button class="btn btn-success btn-sm add_place">
                <i class="fa fa-plus"></i> Добавить объект
            </button>
        </td>
    </tr>
</script>

<script src="/js/models/pagination.js"></script>
<script src="/js/collections/pagination.js"></script>

<script src="/js/models/place.js"></script>
<script src="/js/collections/place.js"></script>

<script src="/js/components/pagination.js"></script>
<script src="/js/components/example_modal_place.js"></script>



<script src="/js/page/place.js"></script>