<script type='text/template' id='modal_mod_tpl'>
   <div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" 
   style="display: block; padding-right: 17px;background: #0909094f;" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><%= modal_title %></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                                                                                                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Полное имя 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_name" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Производитель 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_manufactures" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">марка 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_mark" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">модель с которой работают 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_model" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Уникальная серия 
                                                    </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_series" 
                     
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Уникальная версия софта 
                                                    </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_sowtversion" 
                     
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какие типы данных может собирать 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_mod_typesdevice" 
                        required="required"                            class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какая бибблиотека с ним может работать 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_mod_lib" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">С какими параметрами может работать 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_mod_parameters" 
                        required="required"                            class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какие поддерживает команжы 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_mod_commands" 
                        required="required"                            class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Параметры бибилиотеки 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_mod_libdescription" 
                            required="required"                             class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какие команды поддерживает 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_mod_Сommands" 
                        required="required"                            class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                
                </div>
                <div class="modal-footer" id="buttons"> asas</div>
            </div>
        </div>
    </div>
</script>