<script type='text/template' id='modal_userplace_tpl'>
   <div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" 
   style="display: block; padding-right: 17px;background: #0909094f;" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><%= modal_title %></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                                                                                                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Объект к которому привязан пользователь\группа 
                            <span class="required">*</span>                        </label>
                                                                                                            <div class="col-md-9 col-sm-9 ">
                            <select 
                                id="modal_userplace_placeid" 
                                class="form-control" 
                                required="required"                            >
                                <option value="0">--Выбрать--</option>
                            </select>
                            </div>
                                                                </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Пользователь\группа, который привязан к объекту 
                            <span class="required">*</span>                        </label>
                                                                                                            <div class="col-md-9 col-sm-9 ">
                            <select 
                                id="modal_userplace_userid" 
                                class="form-control" 
                                required="required"                            >
                                <option value="0">--Выбрать--</option>
                            </select>
                            </div>
                                                                </div>
                                
                </div>
                <div class="modal-footer" id="buttons"> asas</div>
            </div>
        </div>
    </div>
</script>