<script type='text/template' id='modal_device_tpl'>
   <div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" 
   style="display: block; padding-right: 17px;background: #0909094f;" aria-modal="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><%= modal_title %></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                                                                                                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Родтельское устройство 
                                                    </label>
                                                                                                            <div class="col-md-9 col-sm-9 ">
                            <select 
                                id="modal_device_parentid" 
                                class="form-control" 
                                                            >
                                <option value="0">--Выбрать--</option>
                            </select>
                            </div>
                                                                </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Название 
                            <span class="required">*</span>                        </label>
                                            <div class="col-md-9 col-sm-9 ">
                        <input type="text" 
                        id="modal_device_name" 
                    required="required" 
                        class="form-control ">
                        </div>
                                            </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Настройки подключения 
                            <span class="required">*</span>                        </label>
                                            <textarea id="modal_device_settingsconnections" 
                            required="required"                             class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                                                                                                                <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Место прикрепелния на карте 
                                                    </label>
                                                                                                            <div class="col-md-9 col-sm-9 ">
                            <select 
                                id="modal_device_placeid" 
                                class="form-control" 
                                                            >
                                <option value="0">--Выбрать--</option>
                            </select>
                            </div>
                                                                </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Сколько часов по гринфичу 
                                                    </label>
                                                                                                        <div class="col-md-9 col-sm-9 ">
                                <input type="number" 
                                    id="modal_device_utc" 
                                     
                                        class="form-control ">
                            </div>
                                                                </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какой мобификатор будет опрашивать прибор 
                            <span class="required">*</span>                        </label>
                                                                                                            <div class="col-md-9 col-sm-9 ">
                            <select 
                                id="modal_device_modid" 
                                class="form-control" 
                                required="required"                            >
                                <option value="0">--Выбрать--</option>
                            </select>
                            </div>
                                                                </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Временные интервалы для отображения 
                                                    </label>
                                            <textarea id="modal_device_timesettings" 
                                                         class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                                        <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Какие типы поддерживает 
                                                    </label>
                                            <textarea id="modal_device_types" 
                                                    class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                        </div>
                                
                </div>
                <div class="modal-footer" id="buttons"> asas</div>
            </div>
        </div>
    </div>
</script>