<nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <a class="navbar-brand" href="/">
            <img src="/img/brand/logo/logo.svg" alt="" />
        </a>
        <ul class="navbar-nav flex-column" id="sideNavbar">
                    <li class="nav-item">
                <a class="nav-link has-arrow"
                    href="/admin/tree">
                    <i data-feather="package" class="nav-icon icon-xs me-2">
                    </i> Карта объектов
                </a>
            </li>
                    <li class="nav-item">
                <a class="nav-link has-arrow"
                    href="/admin/devices">
                    <i data-feather="package" class="nav-icon icon-xs me-2">
                    </i> Устройства
                </a>
            </li>
                    <li class="nav-item">
                <a class="nav-link has-arrow"
                    href="/admin/place">
                    <i data-feather="package" class="nav-icon icon-xs me-2">
                    </i> Объекты
                </a>
            </li>
                    <li class="nav-item">
                <a class="nav-link has-arrow"
                    href="/admin/user">
                    <i data-feather="package" class="nav-icon icon-xs me-2">
                    </i> Пользователи
                </a>
            </li>
                    <li class="nav-item">
                <a class="nav-link has-arrow"
                    href="/admin/logout">
                    <i data-feather="package" class="nav-icon icon-xs me-2">
                    </i> Выход
                </a>
            </li>
                </ul>
    </div>
</nav>